body{
    min-height: 3000px;
}

.jumbotron {
    padding-top: 7rem;
    background-color: #e2edff;
}


/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
#portfolio {
    background-color: #e2edff;

}

#portfolio-filter{
background: #fff;
    border-radius: 50px;
  padding: 2px 35px;
}

section {
    padding-top: 6rem;
}

.contact {
        padding-bottom: 130px;
      }
      .contact .info {
        padding: 30px;
        background: #fff;
        width: 200%;
        box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
      }
